#profile {
    background-color: #c1ccdd;
}

    #profile:hover {
        opacity: 1;
    }
/*Content CSS*/
#midItem {
    height: 100%;
    width: 100%;
    display: flex;
}
/*Mid Item CSS*/
.notif {
    background-color: red;
    color: white;
    font-size: 18px;
    width: 40%;
}

.alert {
    font-size: 40px;
}

#formCon {
    margin-left: 6px;
    width: 80%;
    height: 100%;
}

h1 {
    background-color: dimgrey;
    color: white;
    padding-left: 5px;
    margin-bottom: 0px;
}

#profCon {
    margin-top: 13px;
    margin-left: 35%;
    width: 20%;
    height: 10%;
}

#modalButt {
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 16px;
}
/*CSS Modal*/
.modal {
    display: none; /*<?=$display?>;*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: grey; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Body */
.modal-body {
    padding: 2px 16px;
    height: 70%;
}
/* Modal Footer */
.modal-footer {
    height: 20%;
    padding: 2px 16px;
    background-color: grey;
    color: white;
    text-align: left;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: grey;
    margin: auto;
    border: 1px solid #888;
    height: 90%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-dialog {
    width: 600px;
    height: 60%;
    margin: 30px auto;
}

#upBott {
    height: 30px;
    width: 100px;
    background-color: #333;
    color: white;
    font-size: 14px;
}

.modalForm {
    width: 100%;
    margin-bottom: 10px;
}

.close {
    margin-left: 95%;
}
